section{
    width: 800px;
    height: 800px;
}
section div{
    width: 300px;
    height: 300px;
}
.cuadrado1{
    background-color: lightcoral;
}
.cuadrado2{
    background-color: lightgreen;
}
.cuadrado3{
    background-color: lightpink;
}
.cuadrado4{
    background-color: lightseagreen;
}